/* Highlight active project card */
.active-project {
  background-color: rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 4px 32px 0 rgba(168, 237, 234, 0.3), 0 1.5px 8px 0 rgba(254, 214, 227, 0.2);
  border-color: #fff;
  color: #222;
  transition: background-color 0.8s;
}
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark;
  background-color: black; 
  background-color: #242424;
  background: #0e0c0c;
  color: rgb(255, 255, 255);*/
  --very-white: #ECF0F1;
  --very-light: #BDC3C7;
  --light: #7F8C8D;
  --little-blue: #34495E;
  --very-blue: #2C3E50;

}

#smooth-wrapper {
  background-color: #0a0a0a;
  background-image:
    linear-gradient(#1a1a1a 1px, transparent 1px),
    linear-gradient(90deg, #1a1a1a 1px, transparent 1px),
    linear-gradient(#333 2px, transparent 2px),
    linear-gradient(90deg, #333 2px, transparent 2px);
  background-size: 20px 20px, 20px 20px, 100px 100px, 100px 100px;
  color: #fff;
}

.homeScreenListItems {
  list-style: none;
  display: inline-block;
  position: relative;
}

.homeScreentListItemAnchorTag {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.homeScreentListItemAnchorTagMobile {
  color: #fff;
  text-decoration: none;
  padding: 4px;
  font-size: 16px;
  position: relative;
}

.homeScreentListItemAnchorTag::before {
  content: "";
  position: absolute;
  top: 52%;
  left: -10%;
  width: 0;

  height: 2px;
  background: #fff;
  transition: all ease 0.5s;
}

.homeScreentListItemAnchorTag:hover::before {
  width: 120%;
}


/* mobile nav bar */
.navBarForMobile {
  position: absolute;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  margin: 0;
  z-index: 10;
  font-size: 8px;
  padding: 2px;

}



/* top most page ui css */
.neon-glow {
  text-shadow: 
    0 0 5px var(--very-white),
    0 0 10px var(--very-light),
    0 0 20px var(--little-blue),
    0 0 40px var(--very-light),
    0 0 80px var(--very-white);
  animation: flicker 2s infinite alternate;
}

@keyframes flicker {
  0% {
    opacity: 1;
    text-shadow: 
      0 0 5px var(--very-white),
      0 0 10px var(--very-light),
      0 0 20px var(--little-blue),
      0 0 40px var(--very-light);
  }
  50% {
    opacity: 0.8;
    text-shadow: 
      0 0 3px var(--very-light),
      0 0 7px var(--little-blue),
      0 0 15px var(--very-light),
      0 0 30px var(--little-blue);
  }
  100% {
    opacity: 1;
    text-shadow: 
      0 0 10px var(--very-white),
      0 0 20px var(--very-light),
      0 0 40px var(--little-blue),
      0 0 80px var(--very-light),
      0 0 120px var(--very-white);
  }
}