@import "tailwindcss";

@font-face {
  font-family: 'handWrittenFont';
  src: url('./assets/Fonts/Handlee/Handlee-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'headingFont';
  src: url('./assets/Fonts/Quintessential/Quintessential-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Highlight active project card */
.active-project {
  background-color: rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 4px 32px 0 rgba(168, 237, 234, 0.3), 0 1.5px 8px 0 rgba(254, 214, 227, 0.2);
  border-color: #fff;
  color: #222;
  transition: background-color 0.8s;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --very-white: #ECF0F1;
  --very-light: #BDC3C7;
  --light: #7F8C8D;
  --little-blue: #34495E;
  --very-blue: #2C3E50;

}

#smooth-wrapper {
  background-color: #0a0a0a;
  background-image:
    linear-gradient(#1a1a1a 1px, transparent 1px),
    linear-gradient(90deg, #1a1a1a 1px, transparent 1px),
    linear-gradient(#333 2px, transparent 2px),
    linear-gradient(90deg, #333 2px, transparent 2px);
  background-size: 20px 20px, 20px 20px, 100px 100px, 100px 100px;
  color: #fff;
}

/* top most page glow ui css */
.neon-glow {
  text-shadow:
    0 0 5px var(--very-white),
    0 0 10px var(--very-light),
    0 0 20px var(--little-blue),
    0 0 40px var(--very-light),
    0 0 80px var(--very-white);
  animation: flicker 2s infinite alternate;
}

@keyframes flicker {
  0% {
    opacity: 1;
    text-shadow:
      0 0 5px var(--very-white),
      0 0 10px var(--very-light),
      0 0 20px var(--little-blue),
      0 0 40px var(--very-light);
  }

  50% {
    opacity: 0.8;
    text-shadow:
      0 0 3px var(--very-light),
      0 0 7px var(--little-blue),
      0 0 15px var(--very-light),
      0 0 30px var(--little-blue);
  }

  100% {
    opacity: 1;
    text-shadow:
      0 0 10px var(--very-white),
      0 0 20px var(--very-light),
      0 0 40px var(--little-blue),
      0 0 80px var(--very-light),
      0 0 120px var(--very-white);
  }
}



.cont {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
}

.crd {
  position: relative;
  width: 300px;
  height: 400px;
  clip-path: path(
    "M 20 170 L 150 170 A 20 20 0 0 0 170 150 L 170 20 A 20 20 0 0 1 190 0 L 280 0 A 20 20 0 0 1 300 20 L 300 210 A 20 20 0 0 1 280 230 L 150 230 A 20 20 0 0 0 130 250 L 130 380 A 20 20 0 0 1 110 400 L 20 400 A 20 20 0 0 1 0 380 L 0 190 A 20 20 0 0 1 20 170 Z"
  );
}
