@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark;
  background-color: black; 
  background-color: #242424;
  color: rgb(255, 255, 255);*/
  background: #0e0c0c;
  color: #000;
}

.homeScreenListItems{
  list-style: none;
  display: inline-block;
  margin: 26px 25px;
  position: relative;
}
.homeScreentListItemAnchorTag{
color: #fff;
text-decoration: none;
font-size: 24px;
position: relative;
}
.homeScreentListItemAnchorTag::before{
content: "";
position: absolute;
top: 52%;
left: -10%;
width: 0;
height: 2px;
background: #fff;
transition: all ease 0.5s ;
}
.homeScreentListItemAnchorTag:hover::before{
  width: 120%;
}
